.aboutHeader
{
    background-color: $theme-about !important;
}

.list
{

    h3
    {
        margin-bottom: -5px;
        padding-left: 2%;
        padding-right: 2%;
        transition: color .5s ease-in-out;
        transition: background-color .4s ease-in-out;
        border-bottom: 5px solid $theme-about;
    }

    &:hover h3
    {
        color: $white;
        background-color: $theme-about;

        a { color: $white; text-decoration: underline;}
    }

}

.bullet-group
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li
  {
    width: 100%;
  }
  &.threeColumn li
  {
    width: 30%;
    @include break(560px) { width: 50%;}
  }
  &.twoColumn li
  {
    width: 50%;
    @include break(500px) { width: 100%;}
  }
}




@media screen and (min-width: 1000px)
{
    .aboutText
    {
        float: left;

        width: 58%;
        margin-right: 2%;
    }
    .profilePic
    {
        float: right;

        width: 40%;
    }
}

@media screen and (min-width: 550px)
{
    .col
    {
        float: left;

        width: 25%;
    }
    .col-half
    {
      float: left;
      width: 43%;
    }
}
