.four04
{
  transition: all .2s ease-in-out;
  animation: crazy 25s infinite;
  animation-delay: 5s;
  @include tile(2% 0 0 2%);
  @include mainShadow;
}

.searchBar
{
  padding: 1% 2%;
  border-top: 5px solid $theme-home;
  @include tile(2% 0 0 2%);
  @include mainShadow;
}
