//--------------------- Global & Primary classes --------------------
body
{
    font-family: Open Sans, helvetica,  sans-serif;
    line-height: 1.6;

    background-color: $backgroundColor;

}

h1 { font-weight: 600; }

a
{
    transition: all .3s ease-in-out;
    color: $aLinkBlue;
    &:hover { color: $aLinkHover; }
}

table { border-color: $backgroundColor; }

.max
{
    max-width: 1600px;
    margin: auto;
}

.clearfix
{
    clear: both;
}

//--------------------- other -------------------
.img-center
{
    display: block;

    max-width: 100%;
    height: auto;
    margin: 10px auto;

    text-align: center;
}
.img-responsive
{
    max-width: 100%;
    height: auto;
}
