---
layout: default
title: Sam Pedley
description: Hi, I'm a nerd.  Yep.  That's about it. 
---
<div class="topHome navHover"></div>
<div class="max">
  <div class="hero">
        {% for post in site.posts limit:1 %}

    <div class="heroEye">
      <a href="{{ post.url }}">
       <img src="{{site.url}}{% if post.image %}{{post.image}}{% else %}{{ site.image}}{% endif %}" alt="{{post.description}}">
      </a>
    </div>

    <div class="heroText">

      <h1><a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a></h1>
      <p>{{ post.description }} <br><a href="{{ post.url }}">Read more...</a></p>
      {% endfor %}
    </div>
    <div class="clearfix"></div>
  </div>
  <aside class="homeAside">
    <h3>More Stuff</h3>
    <div class="asidePosts">
      <ul> 
      {% for post in site.posts offset: 6 limit: 10 %}
       <a href="{{ site.prefix }}{{ post.url }}"> <li>{{ post.title }}</li></a>
      {% endfor %}
      </ul>
    </div>
  </aside>
  {% for post in site.posts offset: 1 limit: 5 %}
  <div class="mainContent" itemscope itemtype="http://schema.org/Article">
    <a href="{{ site.prefix }}{{ post.url }}" itemprop="url"><h2 class="homeTitle" itemprop="name">{{ post.title }}</h2></a>
    <article>
      <p itemprop="description">{{ post.description }}</p>
      <a href="{{ post.url }}" itemprop="url">Read more...</a>
    </article>
  </div>
  {% endfor %}
</div>
<div class="clearfix"></div>
