<header>
  <h2><a href="{{ site.baseurl }}/">Sam Pedley</a></h2>
  <nav>
      <div class="desktopNav">
          <div id="homeNav"><a href="{{ site.baseurl }}/">Home</a></div>
          <div id="aboutNav"><a href="{{ site.baseurl }}/about/">About</a></div>
          <div id="blogNav"><a href="{{ site.baseurl }}/blog/">Blog</a></div>
      </div><?php //end desktop nav?>
      <div class="mobileNav">
      <div>
          <input id="menuM" name="mblmenu" type="checkbox" />
          <label for="menuM"><div class="navIconM"><span></span> </div></label>
          <div class="drop">
            <ul class="caps">
              <li id="homeNavM"><a href="{{ site.baseurl }}/">Home</a></li>
              <li id="aboutNavM"><a href="{{ site.baseurl }}/about/">About</a></li>
              <li id="blogNavM"><a href="{{ site.baseurl }}/blog/">Blog</a></li>
             </ul>
          </div>
       </div>
      </div><?php //end mobile nav?>
  </nav>
  <div class="clearfix"></div>
</header>