---
layout: default
title: Sam Pedley
---
<div class="topHome"></div>
<div class="max">
  <div class="hero">
    <div class="heroEye"></div>
    <div class="heroText">
      {% for post in site.posts limit:1 %}
      <h1><a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a></h1>
      <p>{{ post.excerpt }}<a href="{{ post.url }}">Read more...</a></p>
      {% endfor %}
    </div>
    <div class="clearfix"></div>
  </div>
  <aside class="homeAside">
    <div class="search">
      <script>
        (function() {
          var cx = '001482016165219114480:din6aj9dfu0';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
              '//www.google.com/cse/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:searchbox-only resultsUrl="{{ site.baseurl }}/search/"></gcse:searchbox-only>
    </div>
    <div class="asidePosts">
      <ul> Other Posts:
      {% for post in site.posts limit: 10 %}
        <li><a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </aside>
  {% for post in site.posts offset: 1 limit: 5 %}
  <div class="mainContent">
    <a href="{{ site.prefix }}{{ post.url }}"><h2 class="homeTitle">{{ post.title }}</h2></a>
    <article>
      <p>{{ post.excerpt }}</p>
      <a href="{{ post.url }}">Read more...</a>
    </article>
  </div>
  {% endfor %}
</div>
<div class="clearfix"></div>