<footer>
  <p class="copyright">&copy;2014 - 20{{ site.time | date: '%y' }}</p>
  <div class="footerIcons">
    <a href="/feed.xml">
      <svg class="socialIcon rss"><use xlink:href="#shape-rss"/></svg>
    </a>
    <a href="https://www.linkedin.com/in/sampedley">
      <svg class="socialIcon linkedin"><use xlink:href="#shape-linkedin"/></svg>
    </a>
    <a href="https://github.com/SamPedley">
      <svg class="socialIcon github"><use xlink:href="#shape-github"/></svg>
    </a>
    <a href="https://www.behance.net/sampedley" >
      <svg class="socialIcon behance"><use xlink:href="#shape-behance"/></svg>
    </a>
  </div>
</footer>
