<div class="clearfix"></div>
<footer>
	<p class="copyright">&copy; 20{{ site.time | date: '%y' }}</p>
	<a href="/feed.xml">
		<svg class="icon rss">
			<use xlink:href="#shape-rss"/>
		</svg>
	</a>
	<a href="https://www.linkedin.com/in/sampedley">
		<svg class="icon linkedin">
			<use xlink:href="#shape-linkedin"/>
		</svg>
	</a>
		<a href="https://github.com/SamPedley">
		<svg class="icon github">
			<use xlink:href="#shape-github"/>
		</svg>
	</a>
	<a href="https://www.behance.net/sampedley" >
		<svg class="icon behance">
			<use xlink:href="#shape-behance"/>
		</svg>
	</a>
  </footer>
	<script async src="{{ "/public/js/global.js" | prepend: site.baseurl }}"></script>
</body>
</html>
