<meta charset="UTF-8">
<!-- thigns  -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="description"  content="{% if page.description %}{{ page.description }}{% else %}{{ site.description}}{% endif %}">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<style>{% include critical.css %}</style>
<link rel="shortcut icon" href="{{site.url}}/favicon.ico" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ "/public/css/main.css" | prepend: site.baseurl }}">
{% include svg-defs.svg %}
