<header class="SiteHeader">

  <a href="{{ site.baseurl }}/" class="header_logo">
    <svg>
      <use xlink:href="#shape-samPedley"/>
    </svg>
  </a>

  <input id="mobile_menu" name="Mobile Menu" type="checkbox" class="hamburger_input"/>
  <label for="mobile_menu" class="hamburger_label">
    <div class="hamburger_icon">
      <span></span>
    </div>
  </label>

  <nav>
    <a id="homeNav"  href="{{ site.baseurl }}/">Home</a>
    <a id="aboutNav" href="{{ site.baseurl }}/about/">About</a>
    <a id="blogNav" href="{{ site.baseurl }}/articles/">Articles</a>
  </nav>

</header>
