<meta charset="UTF-8">
<meta name="robots" content="index, follow" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"  content="{% if page.description %}{{ page.description }}{% else %}{{ site.description}}{% endif %}">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="shortcut icon" href="{{site.url}}/assets/favicon.ico" />
{% include svg-defs.svg %}
<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ "/assets/styles.css" | prepend: site.baseurl }}">


  <meta property="og:description" content="Math is for losers.  Let us figure out how many plates you need.  All the gains with none of the math.">
  <meta property="og:site_name" content="Sam Pedley">
  <meta property="og:title" content="Sam Pedley">
  <meta property="og:type" content="Tech">
  <meta property="og:image" content="http://sampedley.com/assets/images/logo.png" />
  <meta property="og:url" content="http://sampedley.com">
