<header class="mainHeader">

  <a href="{{ site.baseurl }}/">
    <svg class="svgTitle">
      <use xlink:href="#shape-samPedley"/>
    </svg>
  </a>

    <div class="mobile_hamburger">
      <input id="menuM" name="mblmenu" type="checkbox" />
      <label for="menuM"><div class="navIconM"><span></span> </div></label>
    </div>

      <nav>
          <a id="homeNav"  href="{{ site.baseurl }}/">Home</a>
          <a id="aboutNav" href="{{ site.baseurl }}/about/">About</a>
          <a id="blogNav" href="{{ site.baseurl }}/articles/">Articles</a>
      </nav>

</header>
