.aboutHeader
{
    background-color: $aboutNavC !important;
}

.list
{
    &:hover h3
    {
        transition: color .5s ease-in-out;
        transition: background-color .4s ease-in-out;

        color: $white;
        background-color: $aboutNavC;
    }
    h3
    {
        margin-bottom: -5px;
        padding-left: 2%;

        transition: color .5s ease-in-out;
        transition: background-color .4s ease-in-out;

        border-bottom: 5px solid $aboutNavC;
    }
}



@media screen and (min-width: 1000px)
{
    .aboutText
    {
        float: left;

        width: 58%;
        margin-right: 2%;
    }
    .profilePic
    {
        float: right;

        width: 40%;
    }
}

@media screen and (min-width: 550px)
{
    .col
    {
        float: left;

        width: 25%;
    }
}
