.aboutHeader{
    background-color: $aboutNavC;
}

.list{

	&:hover h3{
		background-color: $aboutNavC;
		color: $white;
		transition: color 0.5s ease-in-out;
        transition: background-color 0.4s ease-in-out;
	}

	h3{
	margin-bottom: -5px;
	border-bottom: 5px solid $aboutNavC;
	transition: color 0.5s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    padding-left: 2%;
	}

}


// 	.aboutText{
// 	width: 100%;

// }
// .profilePic{
// 	width: 100%;
// }



@media screen and (min-width: 1000px){
	.aboutText{
	float: left;
	width: 58%;
	margin-right: 2%;

}
.profilePic{
	float: right;
	width: 40%;
}
}

@media screen and (min-width: 550px){
	
	.col{
	float: left;
	width: 25%;
}

}