.blogContent {
    float: left;
    margin-top: 2%;
    margin-left:2%;
    width:96%;
    height: auto;
    background-color: $white;
    @include mainShadow;

    article{
        margin:30px 2%;
        
        img{ @include imgResult; }

        h2{
            margin-bottom: 0;
        }

        .meta{
            margin-top: 0;
            color: $lightText;
        }

    }//end article 
    
}//end .main content