footer{
	width: 96%;
	margin: 2%;
	height: 50px;
	background-color: $white;
}

.icon { 
  width: 40px;
  height: 40px;
  float: right;
  margin: 5px;
  background-color: $white;

}
// -------- Social Icons --------
.github {
	fill: $socialIcons;
	transition: fill .2s ease-in-out;
	&:hover{
	 fill: $github;
	 transition: fill .2s ease-in-out;
	}
}

.behance {
	fill: $socialIcons;
	transition: fill .2s ease-in-out;
	&:hover{
	 fill: $behance;
	 transition: fill .2s ease-in-out;
	}
}

.linkedin {
	fill: $socialIcons;
	transition: fill .2s ease-in-out;
	&:hover{
	 fill: $linkedin;
	 transition: fill .2s ease-in-out;
	}
}

.rss {
	fill: $socialIcons;
	transition: fill .2s ease-in-out;
	&:hover{
	 fill: $rss;
	 transition: fill .2s ease-in-out;
	}
}