//--------------------- Headder ---------------------

header
{
    width: 100%;
    height: auto;

    background-color: $white;
    h2
    {
        font-size: 45px;
        font-weight: normal;

        margin: 0 2%;
        padding: 5px 0 2px 0;
        a
        {
            float: left;
            margin-left: -18px;
            text-decoration: none;

            color: $titleColor;
            &:hover
            {
                color: $aLinkBlue;
            }
        }
    }
}

.s{
    float: left;
    width: 100px;
    max-height: 70px;
    padding: 5px 0;

    @media all and (max-width: 600px){
        max-height: 50px;
    }

}