//--------------------- hero ---------------------

.hero {
    margin: 2% 2% 0;
    width: 96%;
    height: auto;
    background-color: $white;
    @include mainShadow;

	.heroEye{
		height: 350px;
		width: 60%;
		background: url('http://www.sampedley.com/F/img/heroImg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
		float: left;
		margin: 25px;

        @media all and (max-width: 825px){ 
            width: 80%;
            margin: 25px 10% 15px;
        }

        @media all and (max-width: 525px){ 
            width: 96%;
            margin: 2% 2% 0;
        }
	}//end heroEye

	.heroText{
		float: left;
		margin: 25px;
        width: calc(40% - 100px);

        @media all and (max-width: 825px){ 
            width: 80%;
            margin: 0 10% 15px;
            h1{ margin-top: 10px; }
        }

        @media all and (max-width: 525px){ 
            width: 96%;
            margin: 0 2% 15px;
        }
	}//end heroText

}// end hero 

//--------------------- main content ---------------------

.mainContent {
    float: left;
    margin-top: 2%;
    margin-left:2%;
    width:calc(94% - 320px);
    height: auto;
    background-color: $white;
    @include mainShadow;

    article{
        margin:30px 2%;
        
        img{ @include imgResult; }

    }//end article 
    
}//end .main content




