.postContainer{

	@include tile(2%);
    @include mainShadow;
    overflow: hidden;


    h1 {
    	font-size: 45px;
    	font-weight: 400;
    	margin: 0;
    	padding: 0;
    }

    img{
        max-width: 100%;
        margin: 10px auto;
        text-align: center;
        display: block;
        background-color: $backgroundColor;
        transition: all 0.2s ease-in-out;

        &:hover{
            transform: scale(1.05,1.05);
            transition: all 0.2s ease-in-out;
        }
    }

    hr{
        margin-top: 0px;
        border: 2px solid $backgroundColor;
        opacity: 0.6;
    }

    h2{
        margin-bottom: 5px;
    }

}

.post-header{
	    p{
    	border-bottom: 3px solid $backgroundColor;
    	margin-top: 0;
    	padding-bottom: 10px;
    	margin-bottom: 15px;
    }
}

.comments {
    @include tile(0 0 0 2%);
    @include mainShadow;

}
