.postContainer{

	@include tile(0 2%);
    @include mainShadow;
    overflow: hidden;
    padding: 1% 2%;


    h1 {
    	font-size: 45px;
    	font-weight: 400;
    	margin: 0;
    	padding: 0;
    }

    img{
        max-width: 100%;
        margin: 10px auto;
        text-align: center;
        display: block;
        background-color: $backgroundColor;
        transition: all 0.2s ease-in-out;

        &:hover{
            transform: scale(1.05,1.05);
            transition: all 0.2s ease-in-out;
        }
    }

    hr{
        margin-top: 0px;
        border: 2px solid $backgroundColor;
        opacity: 0.6;
    }

    h2{
        margin-bottom: 5px;
    }

}

.post-header{
        @include tile(2% 2% 0 2%);
    @include mainShadow;
    padding: 2% 2% 1% 2%;
    background-color: $blogNavC;
    color:white;

    h1{
        margin: 0;
    }
	    p{
    	//border-bottom: 3px solid $backgroundColor;
    	margin: 0;
    	//padding-bottom: 10px;
    	//margin-bottom: 15px;
    }
}

.comments {
    @include tile(2% 0 0 2%);
    @include mainShadow;

}

.articlesMax{
    max-width: 1400px;
    margin: 0 auto;
}
