.searchResults {

    @include tile(2% 0 0 2%);
    @include mainShadow;

    article{
        margin:30px 2%;
        img{ @include imgResult; }
    }//end article 
    
}//end .main content

.backHome{

    @include tile(2% 0 0 2%);
    @include mainShadow;
    a{ margin: 10px 10px 10px 2%; }
}

.searchBar {
    @include tile(2% 0 0 2%);
    @include mainShadow;
}

input.gsc-search-button{
    border-color: $white !important;
    background-color: $backgroundColor !important;
    transition: background-color 0.4s ease-in-out;

    &:hover{
        background-color:$aLinkBlue !important;
        transition: background-color 0.4s ease-in-out;
    }
}

#gs_tti50{
    background: none !important;
    
    input{ background: none !important; }
}
