//--------------------- Main Asside ---------------------

.homeAside
{
    float: right;
    border-top: 5px solid $homeNavC;
    width: 320px;
    height: 400px;
    margin: 2%;

    background-color: $white;
     @include mainShadow;
}

.gsc-input,
.gsc-search-button
{
    padding: 10px;
}

.asidePosts
{
    ul
    {
        list-style-type: none;
        padding: 12px;
        @media screen and (max-width: 825px){
    display: none;
}
    }
    a
    {
        font-size: 16px;
        font-weight: 400;
        line-height: 2;
    }
}
