//--------------------- Asside ---------------------
.homeAside
{
    margin-top: 2%;

    border-top: 5px solid $homeNavC;

    @include mainShadow;

    ul{
        padding: 12px;
    }

    .searchAside
    {
        width: 74%;
        height: 35px;
        margin: 2%;
    }//end .searchAside
    .btn
    {
        width: 16%;
        height: 35px;
        margin: 2% 2% 2% 0;
    }
}//end .homeAsside

//--------------------- Main Asside ---------------------

.homeAside
{
    float: right;

    width: 320px;
    height: 400px;
    margin: 2%;

    background-color: $white;
}

.gsc-input,
.gsc-search-button
{
    padding: 10px;
}

.asidePosts
{
    ul
    {
        list-style-type: none;
    }
    a
    {
        font-size: 16px;
        font-weight: 400;
        line-height: 2;
    }
}
