//--------------------- Headder ---------------------

header {
    width: 100%;
    height: auto;
    background-color: white;
   
    h2{
        margin: 0 4%;
        padding: 5px 0 2px 0;
        font-weight: normal;
        font-size: 45px;
        
        a {
        float: left;
        color:$titleColor;
        text-decoration: none;

        &:hover{
            color: $aLinkBlue;
        }
        }
    }
}