@mixin break($size)
{
  @media screen and (max-width: $size) { @content; }
}

@mixin setLogoHeaderColors($color)
{
  border-color: lighten($color,15%);
  .sLogoMain{ fill: $color;}
  .sLogoSecondary{ fill: lighten($color,15%);}
}

@mixin primaryContainerSize()
{
  width: 96%;
  max-width: 1200px;
  margin: 1rem auto;
  box-sizing: border-box;
  @include break(500px)
  {
    width: 98%;
  }
}
