.postContainer
{
    overflow: hidden;

    padding: 1% 2%;

    @include tile(0 2%);
    @include mainShadow;
    h1
    {
        font-size: 45px;
        font-weight: 400;

        margin: 0;
        padding: 0;
    }
    img
    {
        display: block;

        max-width: 90%;
        margin: 10px auto;

      //transition: all .2s ease-in-out;
        text-align: center;
      //transform: scale(0.95);
        // &:hover
        // {
        //     transition: all .2s ease-in-out;
        //     transform: scale(1.1,1.1);
        // }
    }
    hr
    {
        margin-top: 0;

        opacity: .6;
        border: 2px solid $backgroundColor;
    }
    h2
    {
        margin-bottom: 5px;
    }
}

.post-header
{
    padding: 2% 2% 1% 2%;
    @include tile(2% 2% 0 2%);
    @include mainShadow;
    color: white;
    background-color: $theme-blog;
    h1 { margin: 0; }
    p { margin: 0; }
}

.comments
{
    @include tile(2% 0 0 2%);
    @include mainShadow;
}

.articlesMax
{
    max-width: 1400px;
    margin: 0 auto;
}
.post-content
{
  line-height: 1.8;
  // ol li a { font-size: 1.3rem; }
}
