//--------------------- Main Asside ---------------------

.homeAside
{
    float: right;
    width: 320px;
    height: 400px;
    margin: 2%;

    background-color: $white;
    @include mainShadow;

    h3
    {
        background-color: $theme-home;
        color: $white;
        padding: 0.5rem 1rem;
        margin: 0;
    }
}


.asidePosts
{
  ul
  {
    margin: 0;
    list-style-type: none;
    padding: 12px;
    background-color: $white;
  }
  a
  {
    color: $gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    &:hover { color: $aLinkBlue; }
  }
}
