//--------------------- Main Asside ---------------------

.homeAside
{
    float: right;
    // border-top: 5px solid $homeNavC;
    width: 320px;
    height: 400px;
    margin: 2%;

    background-color: $white;
    @include mainShadow;

    h3 
    {
        background-color: $homeNavC;
        color: $white;
        padding: 0.5rem 1rem;
        margin: 0;
    }
}

.gsc-input,
.gsc-search-button
{
    padding: 10px;
}

.asidePosts
{

    ul
    {
        margin: 0;
        list-style-type: none;
        padding: 12px;
        background-color: $white;
        @media screen and (max-width: 82px){
    display: none;
}
    }
    a
    {
        color: $gray;
        font-size: 16px;
        font-weight: 400;
        line-height: 2;
        &:hover
        {
            color: $aLinkBlue;
        }
    }
}
