.post__tag{
    background-color: $aboutNavC;
    color: $white;
    padding: 2px 10px;
    margin-right: 5px;
    border: 2px solid $aboutNavC;
    transition: color, background-color 0.3s ease-in-out;
    &:hover{
        background-color: $white;
        color: $aboutNavC;
    }
}
.post__tag--blue{
    background-color: $homeNavC;
    color: $white;
    padding: 2px 10px;
    margin-right: 5px;
    border: 2px solid $homeNavC;
    transition: color, background-color 0.3s ease-in-out;
    &:hover{
        background-color: $white;
        color: $homeNavC;
    }
}



.blogContent
{
    float: left;

    width: 96%;
    height: auto;
    margin-top: 2%;
    margin-left: 2%;

    transition: background-color .1s ease-in-out;

    background-color: $lightBackground;

    @include mainShadow;
    &:hover
    {
        transition: background-color .1s ease-in-out;

        background-color: $white;
        .blogTitle
        {
            transition: color .5s ease-in-out;
            transition: background-color .4s ease-in-out;

            color: $white;
            background-color: $blogNavC;
        }
    }
    .blogTitle
    {
        margin-top: 0;
        padding: 2% 2% 1%;

        transition: color .5s ease-in-out;
        transition: background-color .4s ease-in-out;

        color: $titleColor;
        border-bottom: 5px solid $blogNavC;
    }
    article
    {
        margin: 1% 2% 2%;
        img
        {
            @include imgResult;
        }
        h2
        {
            margin-bottom: 0;
        }
        .meta
        {
            margin-top: -10px;

            color: $lightText;
        }
    }
}
