<div class="clearfix"></div>


  <footer>

<svg class="icon">
<use xlink:href="#shape-github"/>
</svg>
<svg class="icon">
<use xlink:href="#shape-youtube"/>
</svg>
<svg class="icon">
<use xlink:href="#shape-facebook-square"/>
</svg>
<svg class="icon">
<use xlink:href="#shape-googleplus-square"/>
</svg>
<svg class="icon">
<use xlink:href="#shape-linkedin"/>
</svg>

<svg class="icon">
<use xlink:href="#shape-twitter"/>
</svg>

<svg class="icon">
<use xlink:href="#shape-stackoverflow"/>
</svg>


  </footer>




</body>
</html>