<html lang="en-US">
	<head>
		{% include head.html %}
		<script src="/public/js/jQuery_fitVids.js"></script>
		<style>.sLogoMain{ fill: rgba(82, 187, 178, 1.0);}.sLogoSecondary{ fill: rgba(137, 209, 202, 1.0);}</style>
	</head>
	<body>
    	{% include header.html %}
    	<div class="topBlog"></div>
		<div class="articlesMax" itemscope itemtype="http://schema.org/Article">
			<header class="post-header">
			    <h1 itemprop="name">{{ page.title }}</h1>
			    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
		  	</header>
	     	<div class="postContainer">

				<article class="post-content" itemprop="articleBody">
					{{ content }}
				</article>
			</div>
			<div class="comments" itemprop="comment">
				{% include comments.html %}
			</div>
		</div>
    	{% include footer.html %}
		<script> $(document).ready(function(){ $(".postContainer").fitVids(); }); </script>
	</body>
</html>
