/*--------------------- Colors ---------------------*/
$backgroundColor: rgba(226, 226, 226, 1.0);
$lightBackground: rgba(250, 250, 250, 1.0);
$white: rgba(255, 255, 255, 1.0);
$titleColor: rgba(43, 43, 43, 1.0);
$lightText: rgba(129, 129, 129, 1.0);
$homeNavC: rgba(69, 131, 178, 1.0);
$aboutNavC: rgba(238, 85, 85, 1.0);
$blogNavC: rgba(82, 187, 178, 1.0);
$aLinkBlue: rgba(69, 131, 179, 1.0);
$aLinkHover: rgba(0, 155, 255, 1.0);
$gray: rgba(68, 67, 68, 1.0);
/*Social Icons*/
$socialIcons: rgba(226, 226, 226, 1.0);
$github: rgba(108, 198, 68, 1.0);
$behance: rgba(23, 105, 255, 1.0);
$linkedin: rgba(9, 117, 179, 1.0);
$rss: rgba(238, 81, 63, 1.0);
